<ng-container *ngIf="data.versaoModal === 'valor'">
  <mat-dialog-content class="mat-typography">
    <h3>Escolha o valor que deseja</h3>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Valor</mat-label>
        <input matInput [(ngModel)]="inputValue" name="inputName" (input)="mudancaNoInputValor()">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button class="botao" [mat-dialog-close]="true">OK</button>
    <button mat-raised-button mat-dialog-close (click)="limpar()">LIMPAR</button>
  </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="data.versaoModal === 'data'">
  <mat-dialog-content>
    <h3>Escolha o dia disponível</h3>
    <!-- <button mat-raised-button *ngFor="let diaDaSemana of diasDaSemana" multiple>{{ diaDaSemana }}</button> -->
    <mat-button-toggle-group name="diasDaSemana" multiple [(ngModel)]="diasDaSemana">
      <mat-button-toggle value="Seg">SEG</mat-button-toggle>
      <mat-button-toggle value="Ter">TER</mat-button-toggle>
      <mat-button-toggle value="Qua">QUA</mat-button-toggle>
      <mat-button-toggle value="Qui">QUI</mat-button-toggle>
      <mat-button-toggle value="Sex">SEX</mat-button-toggle>
      <mat-button-toggle value="Sab">SAB</mat-button-toggle>
      <mat-button-toggle value="Dom">DOM</mat-button-toggle>
    </mat-button-toggle-group>
    <div>
      Valores selecionados: {{diasDaSemana}}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button class="botao" [mat-dialog-close]="true" (click)="enviarDatasSelecionadas()">OK</button>
    <button mat-raised-button mat-dialog-close (click)="limpar2()">LIMPAR</button>
  </mat-dialog-actions>
</ng-container>

<ng-container *ngIf="data.versaoModal === 'horario'">
  <mat-dialog-content>
    <h3>Escolha o horário disponível</h3>
    <div style="text-align: center;">
      <mat-slider min="8" max="22" class="slider">
        <input matSliderStartThumb [(value)]="inicio">
        <input matSliderEndThumb [(value)]="final">
      </mat-slider>
      <p>De: {{ inicio }}:00</p>
      <p>Até: {{ final }}:00 </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button class="botao" [mat-dialog-close]="true" (click)="enviarHorarioSelecionado()">OK</button>
    <button mat-raised-button mat-dialog-close (click)="limpar3()">LIMPAR</button>
  </mat-dialog-actions>
</ng-container>


